body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
    font-weight: bold;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.button-link {
    margin-top: 10%;
    display: inline-block;             /* Permite definir largura e altura */
    padding: 12px 24px;               /* Espaçamento interno */
    background-color: #707172;       /* Cor de fundo */
    color: white;                     /* Cor do texto */
    text-decoration: none;            /* Remove o sublinhado do link */
    border-radius: 5px;              /* Bordas arredondadas */
    font-size: 13px;                  /* Tamanho da fonte */
    font-weight: bold;                /* Texto em negrito */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
    cursor: pointer;                  /* Muda o cursor para indicar clicável */
}

.button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(1px);
}

@media (max-width: 400px) {
    .container {
        width: 90%;
        padding: 30px;
    }
}
